.container {
  background-color: rgba(255, 0, 0, 0.9) !important;
  border: 1px outset darkred !important;
  grid-column: span 2;

}

.alert {
  text-align: left;
}
.event {
  text-align: center;
}

.description > p {
  margin-bottom: 0.25em;
}

.description-heading {
  font-weight: bolder;
}

.description-subheading {
  font-weight: bold;
}
