.container {
  text-align: center;
  display: grid;
  align-items: center;
  grid-column: span 2;
}

.time {
  font-size: 100pt;
  align-items: center;
  display: flex;
  justify-content: center;
}

.time-hour,
.time-minute,
.time-second {
  font-family: 'Roboto Mono', monospace;
}
.time-ampm,
.time-separator {
  font-size: 40%;
}

.date {
  font-size: 30pt;
}
