.container {
  grid-column: span 4;
  grid-row: span 2;
  text-align: center;

  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  
}

.temperature {
  font-size: 60pt;
  text-align: right;
}

.hot {
  color: red;
}

.warm {
  color: orange;
}

.cold {
  color: aqua;
}
