.container {
  text-align: center;

  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.temperature {
  font-size: 60pt;
  text-align: right;
}

.hot {
  color: red;
}

.warm {
  color: orange;
}

.cold {
  color: aqua;
}
