.container {
  
  grid-column: span 7;
  grid-row: span 3;

  display: flex;
  gap: 5px;
  text-align: center;

  flex-direction: column;
  
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.day-forecast {
  display: grid;

  grid-template-columns: 6ch 6ch 1fr 6ch 6ch;
  grid-template-rows: 1fr;

  text-align: center;
  align-items: center;
}
