.container {
  grid-column: span 4;
  grid-row: span 1;

  display: flex;
  gap: 0px;
  text-align: center;
  justify-content: space-between;
}

.hour-forecast {
  display: grid;
  flex: 1;

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);

  text-align: center;
  align-items: center;
}
