.container {
  grid-column: span 16;
  grid-row: span 2;

  display: flex;
  gap: 1px;
  text-align: center;
  justify-content: space-between;
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9), 0 0 4px rgba(0, 0, 0, 0.7),
    0 0 6px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  
}

.hour-forecast {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;

  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}

.temperature {
  font-family: 'Roboto Mono', monospace;
  text-align: right;
  font-size: smaller;
  margin-left: auto;
  margin-right: auto;
}
