.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.time-zone-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.date-offset {
  font-size: smaller;
  color: lightgrey;
}

.location-label {
  display: flex;
  align-items: center;
}

.time-zone {
  font-size: x-small;
  text-align: right;
}

.time-display {
  text-align: right;
  font-size: x-large;
  font-family: 'Roboto Mono', monospace;
}
