.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.time-zone-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.date-offset {
  font-size: smaller;
  color: lightgrey;
}

.location-label {
  font-size: 1vw;
}


.time-display {
  grid-column: span 1;
  grid-row: span 2;
  text-align: right;
  font-size: x-large;
  font-family: 'Roboto Mono', monospace;
}
