@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));

  /* align-items: flex-start;
  justify-items: center; */

  /* justify-content: center;
  align-content: center; */
  

  gap: 5px;
  height: 100vh;
  padding: 5px;
}

.grid-container > div {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;

  
}
